/* typography start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

/* typography end */






/* header area start */
.logo {
    width: 137px;
}

.navigation_items_area {
    width: 100%;
}

.header_area {
    background: #F2F2F7;
    border-bottom: 1px solid #E5E5EA;
    padding-top: 6px;
}

.headerSticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1030;
    background: #ffffff;
    animation: hsticky 0.3s ease-in;

}

@keyframes hsticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.top_link_area {
    padding-bottom: 10px;
    border-bottom: #D9D9D9 1px solid;
}

.topbarlink_list {
    width: 100%;
}

.responsivemenuDivider {
    height: 2px;
    background: #404040;
    width: 100%;
}

.topbarlink_list a {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #2D1817;
    text-transform: uppercase;

}

.user_auth_items {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
    width: 200px;
    flex-shrink: 0;
}

.user_auth_items .searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    transition: all 0.3s ease;
    /* smooth effect */
    border-radius: 50%;
}

.user_auth_items .authcartLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    transition: all 0.3s ease;
    /* smooth effect */
    border-radius: 50%;
    flex-shrink: 0;
}

.user_auth_items .authcartLink img {
    height: 18px;
    width: 18px;
}

.user_auth_items .authcartLink:hover {
    border: 1px solid #2D1817;
    box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
}

.user_auth_items .searchBtn:hover {
    border: 1px solid #2D1817;
    box-shadow: inset 0 0 8px rgba(45, 24, 23, 0.5);
}

/* Toggle button styling */

.menudropdown {
    border: 1px solid #E4E7E9;
    box-shadow: 0px 8px 40px 0px #0000001F;
    border-radius: 4px;
    padding: 24px;
    transform: unset !important;
    inset: unset !important;
    top: 100% !important;
    right: 0 !important;
}

.searchDropdown {
    border: 1px solid #E4E7E9;
    box-shadow: 0px 8px 40px 0px #0000001F;
    border-radius: 4px;
    padding: 24px;
}

.menudropdown .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    border: 1px solid #E4E7E9;
    padding: 12px 22px;
    border-radius: 4px;
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #191C1F;
}

.menudropdown .dropdown-item:hover {
    background: #F2F2F7;
}

.menudropdown .dropdown-item:focus {
    background: #F2F2F7;
}

.menutogglebtn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menutogglebtn span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #2D1817;
    border-radius: 3px;
    margin: 2px 0;
    transition: all 0.3s ease;
    transform-origin: center;
}

/* Animation to X */
.menutogglebtn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* CSS for the animation */
.menutogglebtn span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #2D1817;
    border-radius: 3px;
    margin: 2px 0;
    transition: all 0.3s ease;
    transform-origin: center;
}

.menutogglebtn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* bottom link area start */
.bottomLinklist_area {
    padding-top: 10px;
}

.bottomLinklist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}


.bottomLinklist a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #2D1817;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.bottomLinklist a img {
    width: 9px;
}

.user_auth_items .badge {
    font-family: Inter;
    font-weight: 500;
    font-size: 10.45px;
    line-height: 10.45px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    background: #FF3B30;
    padding: 3px !important;
    min-width: 16px;
    width: fit-content;
}

.sublinkList_area {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px 0;
    top: 97px;
    left: 50%;
    transform: translateX(-50%);
}

.otherSubmenu {
    min-width: 250px;
    top: 100%;
    padding: 10px 15px;
}

.bottomLinklist>.bottombarLink:last-child .otherSubmenu {
    left: unset !important;
    transform: unset !important;
    right: 0 !important;
}

.bottombarLink:hover .sublinkList_area {
    display: block;
}

.sublinklist_area_inner {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

/* .sublinklist_area_inner .submemulistitem:nth-child(even){
background: #8e8e934d;
} */
.sublinklist_area_inner ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

/* .submemulistitem{
 border-right: 2px solid #8E8E93;
} */
.submenu_image_box {
    width: 100%;
    aspect-ratio: 250/221;
}

.sublinklist_area_inner ul li a {
    display: block;
    padding: 10px 15px;
    color: #2D1817;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.sublinklist_area_inner ul li a:hover {
    background: #f5f5f5;
    color: #9CB31A;
    /* hover এ highlight */
    border-radius: 4px;
}

.sublinklist_area_inner h1 {
    font-family: Forum;
    font-weight: 700;
    font-style: Regular;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #2D1817;
}

.sublinklist_area_inner ul li a {
    padding: 0;
    background: none;
    margin-bottom: 8px;
}

.sublinklist_area_inner ul li a:hover {
    background: none;
}

@media (max-width: 1200px) {
    .topbarlink_list a {
        font-size: 13px;
    }

    .bottomLinklist a {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .top_link_area {
        border-bottom: none;
        padding-bottom: 0;
    }

    .logo {
        width: 87px;
    }

    .bottomLinklist .accordion-toggle {
        font-family: Lato;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #2D1817;
        text-transform: uppercase;
        padding: 12px 22px;
        text-wrap: nowrap;
    }

    .bottomLinklist .accordion-toggle img {
        width: 9px;
    }

    .accordion-content {
        display: none;
        padding: 12px 22px;
        border-top: 1px solid #8E8E93;
    }

    .accordion-content a {
        text-align: left !important;
        display: block !important;
    }

    .accordion-content h1 {
        font-family: Forum;
        font-weight: 600;
        font-style: Regular;
        font-size: 16px;
        line-height: 45px;
        letter-spacing: 2px;
        color: #2D1817;
    }

    .accordion-toggle {
        cursor: pointer;
        padding: 0.5rem 0;
    }

    .accordion-item.active .accordion-content {
        display: block;
    }

    .accordion-item:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, .125) !important;
    }

}

@media (max-width: 376px) {
    .logo {
        width: 66px;
    }
}

/* header area end */



/* ============================================= */
/* ===============Home page start=============== */
/* ============================================= */
.hero_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-card {
    background: #F2F2F7;
    border: 1px solid #8E8E93;
    border-radius: 7px;
    aspect-ratio: 196/133;
    width: 196px;
    transition: all 0.3s ease;
}

.h-card:hover {
    background: #ededed;
}

.h-card .card-body {
    height: 100%;
    width: 100%;
}

.h-card .card-body img {
    height: 47px;
    width: 47px;
}

.h-card .card-body h1 {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 8%;
    text-align: center;
    text-transform: uppercase;
    color: #8E8E93;
}

.c-card {
    width: 100%;
    aspect-ratio: 304/184;
    border-radius: 69px;
    overflow: hidden;
    display: block;
    transition: all 0.3s ease;
}

.c-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.c-card-inner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.c-card-inner::after {
    position: absolute;
    top: 0;
    left: 0;
    background: #00000091;
    height: 100%;
    width: 100%;
    z-index: 1;
    content: '';
}

.c-card-inner h1 {
    font-family: Lato;
    font-weight: 500;
    font-size: 28px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.c-card:hover img {
    transform: scale(1.02);
}

/* shop by collection area start */
.shopBycollection_area h1 {
    font-family: Forum;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    text-align: center;
    line-height: 45px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 0;
    flex-shrink: 0;
}

.shopBycollection_area .v-border {
    height: 1px;
    width: 100%;
    background: #AEAEB2;
}

.shop_by_card {
    box-shadow: 0px 0px 15px 0px #00000014;
    background: #FFFFFF;
    overflow: hidden;
    transition: all 0.3s ease;
    display: block;
    height: 100%;
}

.shop_by_card:hover img {
    transform: scale(1.02);
}

.shopcard_img {
    width: 100%;
    aspect-ratio: 415/419;
    overflow: hidden;
}

.mshopcard_img {
    width: 100%;
    aspect-ratio: 415/492;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

.mshopcard_img img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.mshop_card_inner {
    position: relative;
    height: 100%;
}

.mshop_card_inner::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000091;
    z-index: 1;
}

.morecollection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.morecollection h2 {
    font-family: Forum;
    font-weight: 400;
    font-style: Regular;
    font-size: 29.03px;
    line-height: 35.27px;
    letter-spacing: -0.78px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-wrap: nowrap;
}

.morecollection span {
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 37px;
    width: 37px;
}

.shop_card_inner p {
    font-family: Forum;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 29.16px;
    letter-spacing: -0.65px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    padding: 20px 0;
}

.shop_card_inner h4 {
    font-family: Forum;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 29.16px;
    letter-spacing: -0.65px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}

/* shop by collection area end */

/* new arrivals */
.newarrivals_area h1 {
    font-family: Forum;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    text-align: center;
    line-height: 45px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 0;
    flex-shrink: 0;
}

.newarrivals_area .v-border {
    height: 1px;
    width: 100%;
    background: #AEAEB2;
}

.product_card {
    box-shadow: 0px 1px 12px 0px #00000014;
    background: #FFFFFF;
    padding: 19px;
    padding-bottom: 31px;
}

.card_top_area h2 {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.card_top_area span {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16.26px;
    line-height: 16.26px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding: 8px 14px;
    background: #F2F2F7;
    border-radius: 4px;
}

.product_card_img {
    width: 100%;
    aspect-ratio: 393/343;
}


.product_card_content h1 {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #404040;
    text-align: left;
    margin-bottom: 7px;
}

.product_card_content h1 span {
    color: #8E8E93;
}

.product_card_content h2 {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #404040;
    text-align: left;
    margin-bottom: 7px;
}

.product_card_content h3 {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #404040;
    text-align: left;
}

.product_card_content h5 {
    font-family: Lato;
    font-weight: 600;
    font-size: 18px;
    line-height: 27.2px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #404040;
}

.product_card_content h5 {
    font-weight: 400;
}

.pricing_area {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #F2F2F7;
}

.pricing_area del {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: line-through;
    color: #FF383C;
}

.pricing_area h4 {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.pricing_area p {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8E8E93;
}

.card_button_area button {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 8%;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    border: 1px solid #8E8E93;
    background: #F2F2F7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.card_button_area button:hover {
    background: #ededed;
}

.card_button_area .favorite {
    width: 50px;
    flex-shrink: 0;
}

.card_button_area button img {
    height: 24px;
    width: 24px;
}

footer {
    padding: 15px 10px 33px 10px;
    border-top: 0.5px solid #C7C7CC;
}

footer .logo {
    width: 104px;
    height: 69px;
    display: block;
}

footer p {
    font-family: Noto Serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #2D1817;
    padding-top: 10px;
}

@media (max-width: 1400px) {
    .card_button_area button {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .card_button_area button {
        font-size: 12px;
        padding: 0 5px;
        height: 40px;
    }

    .card_button_area .favorite {
        width: 40px;
    }

    .product_card_content h1 {
        font-size: 19px;
    }

    .pricing_area del {
        font-size: 18px;
    }

    .pricing_area h4 {
        font-size: 18px;
    }

    .pricing_area p {
        font-size: 16px;
    }

    .product_card_content h3 {
        font-size: 18px;
    }

    .product_card_content h2 {
        font-size: 17px;
    }
}

@media (max-width: 992px) {
    .h-card {
        width: 148px;
    }

    .h-card .card-body h1 {
        font-size: 12px;
    }

    .shopBycollection_area .v-border {
        height: 2px;
    }

    .newarrivals_area .v-border {
        height: 2px;
    }

    .sublinkList_area {
        left: 0 !important;
        right: 0 !important;
        transform: unset !important;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .h-card .card-body img {
        height: 30px;
        width: 30px;
    }

    .h-card .card-body {
        padding: .5rem .5rem;
    }

    .h-card .card-body h1 {
        font-size: 10px;
    }

    .hero_item {
        width: 45%;
    }

    .h-card {
        aspect-ratio: unset;
        width: 100%;
    }

    .product_card_content h1 {
        font-size: 15px;
        line-height: 18px;
    }

    .product_card_content h2 {
        font-size: 15px;
        line-height: 18px;
    }

    .product_card_content h3 {
        font-size: 15px;
        line-height: 18px;
    }

    .pricing_area del {
        font-size: 15px;
    }

    .pricing_area h4 {
        font-size: 15px;
    }

    .pricing_area p {
        font-size: 13px;
    }

    .card_top_area h2 {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .shopBycollection_area h1 {
        font-size: 30px;
    }

    .newarrivals_area h1 {
        font-size: 30px;
    }

    footer p {
        font-size: 11px;
    }

    .searchDropdown {
        width: 100vw;
    }

    .h-card .card-body h1 {
        font-size: 12px;
    }

    .product_card_content h1 {
        font-size: 15px;
    }

    .c-card-inner h1 {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .c-card-inner h1 {
        font-size: 15px;
    }
}

@media (max-width: 346px) {
    .card_button_area button {
        font-size: 11px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 980px;
    }
}

@media (min-width: 1100px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1080px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1380px;
    }
}


/* ============================================= */
/* ===============Home page end================= */
/* ============================================= */


/* ============================================= */
/* ===============shop by category page start=============== */
/* ============================================= */

/* slider area start*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigationBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationBtn img {
    width: 23px;
}

.navigationprev {
    left: 15px;
}

.navigationnext {
    right: 15px;
}

.swiper-slide .shop_by_card {
    box-shadow: 0px 0px 15px 0px #0000000D;
    width: 100%;
}

.swiper-slide .shop_by_card:hover {
    border: 1px solid #2D1817;
}

/* slider area end*/

.megafilterBtn {
    background: #F2F2F7;
    color: #000000;
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    line-height: 16.56px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 11px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    transition: all 0.3s ease;
}

.megafilterBtn img {
    flex-shrink: 0;
    width: 23px;
}

.megafilterBtn:hover {
    background: #ededed;
}

.filterOffcanvasArea .offcanvas-body {
    padding: 20px 40px;
}

.filterheading {
    margin-bottom: 32px;
}

.filterheading h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #222222;
}

.filterheading button {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: bottom;
    color: #9CB31A;
}

.filterCategoryBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #E5E5EA;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.filterCategoryBtn span {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #222222;
}

.filterCategoryBtn .filterBtnIcon {
    transition: all 0.3s ease;
}

.filterCategoryBtn .filterBtnIcon.active {
    transform: rotateZ(-90deg);
    transition: all 0.3s ease;
}

.filterCard {
    padding-bottom: 25px;
}

.filterCard ul li label {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #222222;
}

.filterCard ul li input {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #222222;
}

.filterCard ul li p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #AEAEB2;
}

/* custom checkbox start */
.customCheckboxWrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/* Hide the native checkbox */
.customCheckboxWrapper input.customCheckbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

/* The visible custom box */
.customCheckboxWrapper .checkmark {
    width: 20px;
    height: 20px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    background-color: white;
    position: relative;
    display: inline-block;
    transition: background-color 0.2s, border 0.2s;
}

/* Show checkmark when checked */
.customCheckboxWrapper input.customCheckbox:checked+.checkmark {
    background-color: #2D1817;
    border-color: #2D1817;
}

/* Create the white checkmark */
.customCheckboxWrapper input.customCheckbox:checked+.checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* custom checkbox end */

.sortBy_area p {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #8E8E93;
    text-wrap: nowrap;
}

.sortBy_area select {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #121212;
    border: 1px solid #D1D1D6 !important;
    text-transform: capitalize;
}

.newlabel {
    font-family: Lato;
    font-weight: 600;
    font-size: 16.26px;
    line-height: 16.26px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #1570EF;
    background: #1570EF26;
    padding: 8px 14px;
    border-radius: 4px;
    top: 10px;
}

@media (max-width: 576px) {
    .filterOffcanvasArea .offcanvas-body {
        padding: 20px;
    }
}

/* ============================================= */
/* ===============shop by category page end================= */
/* ============================================= */


/* ============================================= */
/* ===============Home page start=============== */
/* ============================================= */






/* ============================================= */
/* ===============Home page end================= */
/* ============================================= */




/* back to top button start */
.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #9CB31A;
    border-radius: 50%;
    display: none;
    z-index: 1000;
}

/* back to top button end */

/* pre loader start */
.preloader {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.logoBox {
    width: 144px;
    height: 91px;
    position: relative;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.spinner-border {
    border: 3px solid #9CB31A;
    border-top-color: transparent;
    position: absolute;
    top: 0;
    right: 35px;

}

/* pre loader end */